doctype 5
html
	head
		title 51去踢球
		link(rel="shortcut icon",href='/app/img/attendee.png')
		link(rel="stylesheet", href="/app/css/main.css")
	body
		block content

	script(src="/app/lib/require/require.js", data-main="js/app.js")
